<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile</title>
	</head>
	<body>
		<h1>Welcome to <%= username %>'s Profile</h1>
		<ul>
			<% for(const hobby of hobbies) { %>
			<li><%= hobby %></li>
			<% } %>
		</ul>
	</body>
</html>
